{% extends 'base.html' %}
{% block title %}Eliminar Malla{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Eliminar Malla Curricular</h2>
    <p>¿Estás seguro que deseas eliminar la malla "{{ malla.nombre_malla }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'administracion_malla' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
