{% extends 'base.html' %}
{% load static %}
{% block content %}
<nav style="--bs-breadcrumb-divider: '▶';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'administracion_usuario' %}">Administración de Usuarios</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nuevo Usuario</li>
    </ol>
</nav>
<h2 class="text-center">Nuevo Usuario</h2>
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <form id="formNewUser" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Crear Usuario</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
