{% extends 'base.html' %}

{% block title %} Predicciones de Datos Históricos {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js"></script>

    <style>
        #downloadButton {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 1000;
        }

        .card {
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <nav style="--bs-breadcrumb-divider: '▶';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Predicciones</li>
        </ol>
    </nav>

    <h2>Predicciones en base a datos historicos de la carrera de Computación de la UNL </h2>
    <div id="chart" style="width: 100%; height: 600px;"></div>
    <script>
        const data = {{ data|safe }};

        const periods = data.periodos;
        const matriculados = data.matriculados;
        const aprobados = data.aprobados;
        const reprobados = data.reprobados;
        const desertores = data.desertores;
        const abandono = data.abandono;

        const chart = echarts.init(document.getElementById('chart'));

        const option = {
            title: {
                text: 'Predicción de Deserción de Estudiantes'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['Matriculados', 'Aprobados', 'Reprobados', 'Desertores', 'Abandono']
            },
            xAxis: {
                type: 'category',
                data: periods
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: 'Matriculados',
                    type: 'line',
                    data: matriculados
                },
                {
                    name: 'Aprobados',
                    type: 'line',
                    data: aprobados
                },
                {
                    name: 'Reprobados',
                    type: 'line',
                    data: reprobados
                },
                {
                    name: 'Desertores',
                    type: 'line',
                    data: desertores
                },
                {
                    name: 'Abandono',
                    type: 'line',
                    data: abandono
                }
            ]
        };

        chart.setOption(option);
    </script>
{% endblock %}


