{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link href="{% static 'img/icon.png' %}" rel="icon">
    <link rel="stylesheet" href="{% static 'css/signupEstilos.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body class="bg-secondary">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-7 d-none d-lg-block"
                                 style="background-image: url('{% static 'img/modelos-matematicos-curso.png' %}');
                                        background-size: cover;
                                        background-position: center;">
                            </div>
                            <div class="col-lg-5 d-flex align-items-center justify-content-center">
                                <div class="p-5">
                                    <div class="text-center mb-4">
                                        <h1 class="h4 text-gray-900">Create an Account!</h1>
                                    </div>
                                    {% if form.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            <ul>
                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <li>{{ field.label }}: {{ error }}</li>
                                                {% endfor %}
                                            {% endfor %}
                                            {% for error in form.non_field_errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    <form method="post" class="needs-validation" novalidate>
                                        {% csrf_token %}
                                        <div class="mb-4">
                                            <label for="username" class="visually-hidden">Username</label>
                                            <input type="text" class="form-control rounded-pill" id="username" name="username" placeholder="Username" required>
                                            {% if form.username.errors %}
                                                <div class="invalid-feedback">
                                                    {% for error in form.username.errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                <div class="invalid-feedback">
                                                    Please provide a valid username.
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="mb-4">
                                            <label for="first_name" class="visually-hidden">First Name</label>
                                            <input type="text" class="form-control rounded-pill" id="first_name" name="first_name" placeholder="First Name" required>
                                            {% if form.first_name.errors %}
                                                <div class="invalid-feedback">
                                                    {% for error in form.first_name.errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                <div class="invalid-feedback">
                                                    Please provide a valid first name.
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="mb-4">
                                            <label for="last_name" class="visually-hidden">Last Name</label>
                                            <input type="text" class="form-control rounded-pill" id="last_name" name="last_name" placeholder="Last Name" required>
                                            {% if form.last_name.errors %}
                                                <div class="invalid-feedback">
                                                    {% for error in form.last_name.errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                <div class="invalid-feedback">
                                                    Please provide a valid last name.
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="mb-4">
                                            <label for="email" class="visually-hidden">Email</label>
                                            <input type="email" class="form-control rounded-pill" id="email" name="email" placeholder="Email" required>
                                            {% if form.email.errors %}
                                                <div class="invalid-feedback">
                                                    {% for error in form.email.errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                <div class="invalid-feedback">
                                                    Please provide a valid email.
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="mb-3">
                                            <label for="password1" class="visually-hidden">Password</label>
                                            <input type="password" class="form-control rounded-pill" id="password1" name="password1" placeholder="Password" required>
                                            {% if form.password1.errors %}
                                                <div class="invalid-feedback">
                                                    {% for error in form.password1.errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                <div class="invalid-feedback">
                                                    Please provide a valid password.
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="mb-3">
                                            <label for="password2" class="visually-hidden">Confirm Password</label>
                                            <input type="password" class="form-control rounded-pill" id="password2" name="password2" placeholder="Confirm Password" required>
                                            {% if form.password2.errors %}
                                                <div class="invalid-feedback">
                                                    {% for error in form.password2.errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                <div class="invalid-feedback">
                                                    Please confirm your password.
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary btn-lg btn-block rounded-pill">
                                                Register Account
                                            </button>
                                        </div>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'signin' %}">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>
</html>
