.centered {
    text-align: center;
}

.align-middle {
    vertical-align: middle !important;
}
/* administracion_malla.css */

/* Estilo para la cabecera de la tabla */
#datatable-mallas thead {
    background-color: #343a40;
    color: #fff;
}

/* Estilo para las filas impares */
#datatable-mallas tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

/* Estilo para las filas pares */
#datatable-mallas tbody tr:nth-of-type(even) {
    background-color: #e9ecef;
}

/* Efecto hover para las filas */
#datatable-mallas tbody tr:hover {
    background-color: #dee2e6;
}

/* Estilo para las celdas */
#datatable-mallas tbody td {
    padding: 15px;
}

/* Estilo para los botones */
.btn-primary, .btn-danger {
    border-radius: 20px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-primary:hover, .btn-danger:hover {
    opacity: 0.8;
}

/* Estilo para el modal */
.modal-header {
    background-color: #343a40;
    color: #fff;
}

.modal-footer .btn-secondary {
    border-radius: 20px;
}

.modal-footer .btn-danger {
    border-radius: 20px;
    background-color: #dc3545;
    border: none;
}
