.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.hero img {
    max-width: 100%;
    height: auto;
}

.hero {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 2rem 0;
    height: 70vh;
}

.hero h2 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #ffffff;
}